<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr />
    <button
      (click)="mostrar = !mostrar"
      class="btn btn-outline-primary btn-block mb-2"
    >
      Mostrar/Ocultar
    </button>
    <div *ngIf="mostrar" class="card bg-light text-dark w-100">
      <div class="card-body">
        <h4 class="card-title">{{ frase.autor }}</h4>
        <p class="card-text">{{ frase.mensaje }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <h1>*ngFor</h1>
    <hr />
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let personaje of personajes; let i = index"
        class="list-group-item"
      >
        {{ i + 1 }} - {{ personaje }}
      </li>
    </ul>
  </div>
</div>
